.translation{
    transition: transform 2s, box-shadow 2s;
}

.translation:hover{
    transform: translate(10px, 10px);
    box-shadow: 5px 5px black;
    border: 3px dashed darkgreen;
}

.scale-up{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform-origin: left;
    /*
    transition: transform 0.5s 0.2s ease;
    */
}

.scale-up:hover{
    transform: scale(1.2);
}

.table-exemple{
    border-collapse: collapse;
}

.table-exemple td,
.table-exemple th{
    border: 1px solid black;
    padding: 0.5rem;
}

.exo-anim{
    border-collapse: collapse;
}

.exo-anim td{
    border: 1px solid black;
    padding: 0.5rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.exo-anim td:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 0 1px black;
    background-color: white;
}