.translation{
    transition: transform 2s, box-shadow 2s;
}

.translation:hover{
    transform: translate(10px, 10px);
    box-shadow: 5px 5px black;
    border: 3px dashed darkgreen;
}

.scale-up{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform-origin: left;
    /*
    transition: transform 0.5s 0.2s ease;
    */
}

.scale-up:hover{
    transform: scale(1.2);
}

.table-exemple{
    border-collapse: collapse;
}

.table-exemple td,
.table-exemple th{
    border: 1px solid black;
    padding: 0.5rem;
}

.exo-anim{
    border-collapse: collapse;
}

.exo-anim td{
    border: 1px solid black;
    padding: 0.5rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.exo-anim td:hover{
    transform: scale(1.1);
    box-shadow: inset 0 0 0 1px black;
    background-color: white;
}

.espace-animation{
    width: 100%;
    position: relative;
    padding-bottom: 30%;
    margin-bottom: 0.5rem;
}

.cercle-animation{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: darkorange;
    border-radius: 50%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--main-body-color);
}

.animation{
    /* déescription de l'animation */
    /*
    animation c'est une propriété raccourcie
    
    animation-name              : nom de l'animation
    animation-duration          : durée de l'animation
    animation-timing-function   : la vitesse constante ou non de l'animation
    animation-delay             : le délais avant que l'animation soit jouée
    animation-iteration-count   : le nombre de fois que se joue l'animation
    animation-diraction         : le "sens" de l'animation (on commence par la première vers la dernière image clef ou l'inverse) 
    */
    animation-name: fleche-qui-bouge;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* il faut maintenant définir les images clef pour l'animation appelée fleche-qui-bouge */

@keyframes fleche-qui-bouge{
    0%{
        left: 0%;
        top: 25%;
        transform: rotate(0deg);
    }
    25%{
        top: 0%;
        transform: rotateX(180deg);
    }
    50%{
        top: 25%;
        left: 70%;
        transform: rotate(180deg);
    }
    65%{
        top: 65%;
    }
    100%{
        left: 0%;
        top: 25%;
        transform: rotate(-360deg);
    }
}