/*

CSS : Cascading Style Sheet ou feuille de style en cascade

Cascade : ce qui est déclaré dans une balise qui contient d'autre balises, est appliqué à la balise et par défaut à toutes les balises qu'elle contient.

Pour appliquer du style CSS à une partie de la page, il faut : 
- désigner la partie en utlisant un sélecteur CSS
- décrire la ou les propriétés CSS et leur configuration

selecteur{
    propriété: valeur(s);
    propriété: valeur(s);
}

Unités de tailles en CSS

Unités les plus souvent utilisées en web

px          =>  pixel (il est possible d'avoir des chiffres à virgule 23.5px; )
em          =>  cadratin. Historiquement unité de mesure en print sur les presses.
                Le cadratin se calcul par rapport à la taille du parent
rem         => cadratin racine, lui se calculera toujours depuis la taille racine du cadratin, 
                - soit celle du navigateur 
                - soit celle surchargée dans le :root
%           => la taille définie en % se calcul par rapport à l'espace disponible
vw & vh     =>  vw : viewport width (largeur de la surface d'affichage du site)
                vh : viewport height ( hauteur d'affichage du site)
                50vh => 50% de la taille d'affichage du site
                si la largeur d'affichage du site 360px (100vw)
                50vw = 180px

sélecteur CSS :
    ATTENTION : en CSS, on impacte tous les éléments correspondants aux sélecteurs écrits
    
    sélecteurs simples : balise, identifiant et par classe
        p                   => tous les éléments p rencontrés dans le document
                            pas de caractère spécial devant l'élément donc il s'agit d'une balise
        #special            => l'élément ayant comme attribut id="special"
                            le caractère # indique qu'on se réfère à l'id
                            => les id sont uniques dans la page
        .titreDeChapitre    => les éléments ayant au moins la class="titreDeChapitre" 
                            le caractère . indique qu'on se réfère à une classe
                            => ATTENTION : si un élément class="titreDeChapitre toto tata" comme il possède au moins
                            la classe titreDeChapitre alors il sera trouvé
    Sélecteur avancés : selon les attributs                                  
        [data-test]                     => les éléments ayant au moins un attribut nommé data-test
                                        <span data-test="tata"></span>
                                        <span data-test="toto"></span>
                                        => les deux sont impacté, on ne recherche que l'attribut
        [alt]                           => les éléments ayant au moins un attribut alt
        [data-test="toto"]              => les éléments ayant au moins un attribut nommé data-test="toto"
                                        <span data-test="tata"></span>
                                        <span data-test="toto"></span>
                                        seul l'élément dont l'attribut data-test est égal à toto sera impacté
        [data-col][data-line]           => les éléments ayant au moins un attribut data-col ET un attribut data-line
        [data-col="3"][data-line]       => les éléments ayant au moins un attribut data-col="3" ET un attribut                          data-line
        [data-col][data-line="2"]       => les éléments ayant au moins un attribut data-col ET un attribut data-line="2"
        [data-col="3"][data-line="2"]   => les éléments ayant au moins un attribut data-col="3" ET un attribut data-line="2"

    Sélecteur avancés : mélange des sélecteurs simples et ou de sélecteurs avancés
        h3.titreDeChapitre  => tous les titre h3 ayant la classe titreDeChapitre
                            si l'élément et la classe sont collés, c'est que l'élément doit avoir au moins cette classe
        article #special    => un élément avec id="special" enfant direct OU indirect d'un élément article
                            si l'élément et l'id recherché sont séparés, cela indique une filiation directe ou indirecte
        article > p            => tous les éléments p enfants directs d'un élément main
                            le chevron fermant > entre les deux éléments indique une filiation directe.
        p#special           => un élément p avec id="special"
        .toto.tata          => un élément ayant au moins les deux classes suivantes toto et tata
        .toto .tata         => un élément ayant au moins la classe tata enfant direct ou indirect d'un élément ayant au moins la classe toto
    
    Pseudo sélecteurs (sélécteur qui permet des "tri" ou des "filtres" sur des sélecteurs )
        p:nth-of-type(odd)  => tous les paragraphes du document en position impaire
                            nth-child() le(s) nième(s) enfant(s)
                            les paramètres : 
                                odd => impaire - event => paire, Xn => tous les X enfants , Y => le Yème
                                Xn + Y, si X == 2 et Y == 1 ==> 2n+1

        article:last-child:nth-of-type(4n+3)    => l'article doit être le dernier article et le troisième article d'une ligne de 4
                                                paramètres :    4n => le nombre d'élément par ligne
                                                                +3 => le troisième de la ligne

*/

/* 
Il est possible d'importer des feuillets css dans d'autres feuillets css 
si on importe du css, cela doit faire partie des premières déclaration dans le feuillet css courant

@import './chemin vers le fichier css a importer';

*/

@import url('./bootstrap-icons.css');

/* déclaration des éléments du :root */
:root{
    --main-font: Arial, Helvetica, sans-serif;
    --heading-font: sans-serif;
    --main-body-color: #212529;
    --header-bg-color: #212529;
    --header-color: white;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

/* déclarations générales */

/* le sélecteur * permet d'atteindre tous les éléments de la page sans exception */

*{
    box-sizing: border-box;
}

/* pour "atteindre" en CSS une balise, on écrit simplement son nom */

body{
    font-family: var(--main-font);
    margin: 0;
    color: var(--main-body-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
    margin: 0;
}

img{
    max-width: 100%;
}

/* déclarations de classes */

#special{
    /* l'élément possèdant l'attribut id unique contenant "special" sera seul impacté par le css écrit */
    font-weight: bold;
}

.content-box{
    box-sizing: content-box;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    margin: 1rem;
}

.border-box{
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    padding: 10px;
    border: 1px solid black;
    margin: 1rem;
}

.deuxEm{
    font-size: 2em;
    padding: 20px;
}

.deuxRem{
    font-size: 2rem;
    padding: 20px;
}

/*
style du conteneur de la vidéo
style="position: relative;padding-bottom: 56.25%;"
style de l'iframe à l'intérieur du conteneur
style="position: absolute; height: 100%; width: 100%;"
*/

.video{
    position: relative;
}

.video-16-9{
    padding-bottom: calc(9 / 16 * 100%);
}

.video-21-9{
    padding-bottom: calc(9 / 21 * 100%);
}

.video-4-3{
    padding-bottom: calc(3 / 4 * 100%);
}

.a-4-portrait{
    padding-bottom: calc(29.7 / 21 * 100%);
}

.video > *{
    position: absolute; height: 100%; width: 100%;
}

#contact-form fieldset,
#contact-form legend{
    border: 2px solid rgb(99, 99, 99);
    border-radius: 0.2rem;
    margin-top: 0.5rem;
}

#contact-form legend{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form select
{
    height: 1.7rem;
    font-size: 1rem;
}

#contact-form .info-form::before{
    font-family: "bootstrap-icons";
    content: "\F430";
    position: absolute;
    left: 0.2rem;
}

#contact-form .info-form{
    position: relative;
    padding: 0.2rem;
    padding-left: 1.4rem;
    background-color: #cff4fc;
    border: 2px solid #9eeaf9;
    color: #055160;
    border-radius: 0.375rem;
}

#contact-form button{
    height: 1.7rem;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    background-color: transparent;
    border-radius: 0.2rem;
}

#contact-form button[type="submit"]{
    border: 2px solid darkgreen;
    color: darkgreen;
}

#contact-form button[type="reset"]{
    border: 2px solid rgb(205, 55, 1);
    color: rgb(205, 55, 1);
}

#contact-form button[type="button"]{
    border: 2px solid rgb(99, 99, 99);
    color: rgb(99, 99, 99);
}

/*#contact-form input[type="radio"],
#contact-form input[type="checkbox"]{
    
}*/

/* déclaration selon la structure du HTML */

body > header, 
body > nav, 
body > footer{
    background-color: var(--header-bg-color);
    color: var(--header-color);
}

body > header > div,
body > footer > div{
    padding: 1rem;
}

body > nav > div{
    padding-left: 1rem;
    padding-right: 1rem;
}

body > nav ul,
body > footer ul {
    margin: 0;
    line-height: 2rem;
    list-style-type: none;
    padding: 0;
}

body > nav ul li:not(body > nav ul li:last-child){
    border-bottom: 1px solid var(--header-color);
}

body > nav a, 
body > nav a:visited,
body > footer a, 
body > footer a:visited{
    color: var(--header-color);
    display: block;
    text-decoration: none;
}

body > main{
    padding-left: 1rem;
    padding-right: 1rem;
}